################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MotorizedMarvels/FileContentIndex
/obj/Debug/net6.0/MotorizedMarvels.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/MotorizedMarvels.csproj.AssemblyReference.cache
/obj/Debug/net6.0/MotorizedMarvels.assets.cache
/.vs/MotorizedMarvels/v17/.suo
/.vs/MotorizedMarvels/v17/.futdcache.v2
/.vs/MotorizedMarvels/FileContentIndex/aa864e5f-b97d-4e86-bedd-f1794ea5e74f.vsidx
/.vs/MotorizedMarvels/FileContentIndex/9c044c25-7912-40c4-b6c9-c70b6a76f37c.vsidx
/.vs/MotorizedMarvels/FileContentIndex/6b502537-bf9c-490a-bfc6-abd3a6485fb3.vsidx
/.vs/MotorizedMarvels/FileContentIndex/2b7a0664-96a7-4217-af47-99b0b573f23b.vsidx
/.vs/MotorizedMarvels/FileContentIndex/0497addb-a8ee-4acd-8305-bec5eedaa355.vsidx
/.vs/MotorizedMarvels/DesignTimeBuild/.dtbcache.v2
/bin/Debug/net6.0
/obj/Debug/net6.0/staticwebassets
/obj/Debug/net6.0/refint
/obj/Debug/net6.0/ref
/obj/Debug/net6.0/apphost.exe
/obj/Debug/net6.0/MotorizedMarvels.csproj.CopyComplete
/obj/Debug/net6.0/MotorizedMarvels.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/MotorizedMarvels.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/MotorizedMarvels.dll
/obj/Debug/net6.0/MotorizedMarvels.genruntimeconfig.cache
/obj/Debug/net6.0/MotorizedMarvels.pdb
/obj/Debug/net6.0/staticwebassets.build.json
/obj/MotorizedMarvels.csproj.nuget.dgspec.json
/obj/MotorizedMarvels.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
/bin 
/obj
/.vs

